<!DOCTYPE html>
<html>
<head>

<style>
body {
	width:980px;
	min-height:1020px;
	margin:0px auto;
}

h1 {
    text-align: center;
    color: maroon;
    margin-left: 40px;
} 

	
.box_three {
		display:inline-block;
		width:150px;
		height:150px;
		background-color:lightblue;
		padding:50px;
		margin::30px;
		margin-left:12px;
		border: solid 5px black;
}

</style>
	<meta charset="UTF-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Playground Assignment</title>
</head>
<body>
	<h1>Welcome!</h1>	
	<div class="multi_box">
		<div class="box_three"></div>
		<div class="box_three"></div>
		<div class="box_three"></div>
	</div>
	
</body>
</html>