<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% if messages %}
    {% for message in messages %}
		<p>{{ message }}</p>
    {% endfor %}
	{% endif %}
	<form action="/create" method="post">
		{% csrf_token %}
		Name<input type="text" name="name">
		Email<input type="email" name="email">
		Password<input type="password" name="password">
		Confirm Password<input type="password" name="confirm_password">
		<input type="submit" value="Register">
	</form>

	<form action="/login" method="post">
		{% csrf_token %}
		Email<input type="email" name="email">
		Password<input type="password" name="password">
		<input type="submit" Value="Login">
	</form>
</body>
</html>