<!DOCTYPE html>
<html lang="endfor">
<head>
	<title>Level1-PlayGround</title>
	<meta charset="utf-8">
	<style>
	#wrapper{
		margin-left: 200px;
	    margin-right: 0px;
	}
	#box {
	    background-color: LightBlue;
	    border: 1px solid black;
	    width: 200px;
	    height: 200px;
	    margin-left: 70px;
	    display: inline-block;
	  
	}
	h1 {
	    color: maroon;
	    margin-left: 40px;
	    text-align: center;
	} 
	</style>
</head>
<body>
	<h1>Welcome!</h1>
	<div id="wrapper">
		<div id="box"></div>
		<div id="box"></div>
		<div id="box"></div>
	</div>           
</body>
</html>